.payment{
    padding:20px 0;
}
.desc img{
    max-width:450px;
    max-height:300px;
    overflow: hidden;
}
.desc{
    display:flex;
    flex-direction: column;
    margin-block-end: 30px;
}
.payment-form{
    background-color: rgb(248, 254, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 45px;
}
.payment-form form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position:relative;
    gap:10px;
}
.payment-form form input{
  padding:10px;
  width:100%;
  border:1px solid #e0dcdc;
  outline:rgb(63, 217, 255);
}
.payment-form form label{
    float:left;
    color:#545151;
}
.expiry{
    margin-block-start: 20px;
    display:flex;
    gap:30px;
}
.payment-form h1{
    color:#353535;
    margin-block-end: 32px;
}
.payment-form form button{
    width: 100%;
    margin-block-start: 12px;
    color:#fff;
    font-weight: bold;
    border-radius: 5px;
    padding:8px;
    border:none;
    background-color:crimson;
}
.caption a{
    background-color: crimson;
    border-radius: 7px;
    color:#fff;
    padding:9px;
    margin-block-start: 15px;
    text-decoration: none;
}
.caption a:hover,.payment-form form button:hover{
    box-shadow: 1px 1px 10px 0.1px rgb(253, 148, 169);
    background-color: crimson;
    color:#fff;
}